---
---

@import "{{ site.theme }}";

// Reduce space between paragraphs and following lists
p + ul {
    margin-top: 0 !important;
}

// Reduce space after h3 subheadings
h3 {
    margin-bottom: 0.3em !important;
}
