---
---

@import "{{ site.theme }}";

// Reduce space between paragraphs and following lists
p:has(+ ul) {
    margin-bottom: 0.3em !important;
}

// Reduce space after h3 subheadings
h3 {
    margin-bottom: 0.3em !important;
}
